body {
  background-color: #141414;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  width: 80%;
  height: 85px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 84px;
}

nav {
  width: 900px;
  height: 60px;
}

.foto {
  justify-content: space-between;
  padding-right: 200px;
  width: 160%;
  height: 70%;
}
ul {
  color: aliceblue;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contacto {
  background-color: #141414;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid gray;
}
.probar {
  background-color: rgb(255, 255, 255);
  color: #1f1e1e;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
}
.link {
  color: #c2c0b6;
  text-decoration: none;
}
.link:hover {
  color: white;
  transition: 1s all ease-in;
}
.homeclaude {
  display: grid;
  grid-template-columns: 50% 50%;
}
.continuar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.continuar h1 {
  color: white;
  font-size: 56px;
  margin: 48px 10px 0px;
  line-height: 1.2;
}

.continuar .subtitle {
  color: #c2c0b6;
  font-size: 18px;
  margin-bottom: 27px;
}

.continuar .card {
  height: 315px;
  width: 448px;
  background-color: #141413;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
  padding: 28px;
  margin: 32px 46px 0px 46px;
}

.continuar .btn-google {
  width: 390px;
  height: 44px;

  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s;
}

.continuar .btn-google:hover {
  background-color: #242424;
}

.continuar .divider {
  color: #888;
  margin: 10px 0 15px;
}

.continuar .input {
  width: 390px;
  height: 44px;

  border-radius: 10px;
  border: none;
  background-color: #2a2a2a;
  color: white;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
}

.continuar .input::placeholder {
  color: #888;
}

.continuar .btn-email {
  width: 390px;
  height: 44px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: hsl(60 2.7% 14.5% / 1);
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s;
  font-size: 18px;
}

.continuar .btn-email:hover {
  background-color: #d4d4d4;
}

.continuar .terms {
  line-height: 1rem;
  font-size: 0.75rem;
  color: #777;
  line-height: 1.4;
  --font-ui: var(--font-anthropic-sans);
}
.continuar .download {
  margin-top: 20px;
}

.continuar .btn-download {
  width: 390px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.continuar .btn-download:hover {
  background-color: #242424;
}
.title {
  font-weight: 300;
}
.gugle {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.wind {
  height: 20px;
  width: 20px;
}
.home {
  width: 715px;
}
