* body {
  letter-spacing: 2px;

  font-family:
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, Times, serif;
  color: aliceblue;
  background-color: rgb(34, 3, 83);
}
main {
  margin: 0 auto;
  width: 600px;
}

.cuadro {
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 600px;
  margin: 20px auto;
  box-shadow: 10px 10px 270px 3px rgba(110, 63, 18, 0.75) inset;
  -webkit-box-shadow: 10px 10px 270px 3px rgba(156, 118, 36, 0.75) inset;
  -moz-box-shadow: 10px 10px 270px 3px rgba(235, 178, 56, 0.75) inset;
  border-radius: 10px;
  border: 10px solid black;
  text-align: center;
  color: aqua;
  padding: 20xp;
  margin: 0 auto;
  width: 600px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-decoration: line-through;
}
h2 {
  text-decoration: line-through;
}
section {
  margin-top: 20px;
}
header {
  text-align: start;
}

img:hover {
  transform: scale(1.2);
  transition: 1s all ease-in-out;
}
.quien-es {
  color: rgb(255, 0, 221);
}
div section {
  color: red;
}
.pou2 {
  color: brown;
}
.ice {
  color: lightblue;
}
footer {
  text-align: center;
}
.big {
  color: green;
}
.nombre {
  color: black;
}
header {
  color: black;
}
